<div class="about">
    <section>
        <div class="px-8 mx-auto max-w-screen-2xl xl:max-w-screen-xl z-10 relative">
            <div class="large-card bg-gray-800 bg-opacity-70 border border-gray-700 rounded-lg p-8 md:p-12 mb-8" style="display: flex;">
                <!-- <img src="assets/images/35226252_2130092973671503_4564055531194417152_n.jpg" alt="Tristan Knott"> -->
                <div>
                    <a href="#" class="text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md bg-gray-700 text-orange-400 mb-2">
                        <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
                            <path d="M11 0H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm8.585 1.189a.994.994 0 0 0-.9-.138l-2.965.983a1 1 0 0 0-.685.949v8a1 1 0 0 0 .675.946l2.965 1.02a1.013 1.013 0 0 0 1.032-.242A1 1 0 0 0 20 12V2a1 1 0 0 0-.415-.811Z"/>
                        </svg>
                        About Me
                    </a>
                    <h6 class="text-white text-3xl md:text-5xl font-extrabold mb-2">Software Developer</h6>
                    <h1 class="text-white text-3xl md:text-5xl font-extrabold mb-2">Tristan Knott</h1>
                    <p class="text-lg font-normal text-gray-400 mb-6">With a passion for clean, maintainable code and efficient development practices, I build scalable solutions that combine intuitive user interfaces with powerful, reliable backends.</p>
                </div>
            </div>
        </div>
        <div class="bg-gradient-to-b to-transparent from-blue-900 w-full h-full absolute top-0 left-0 z-0"></div>
    </section>
</div>
